<div class="container">
  <h1 class="text-center mb-2">Input Forms</h1>
  <div class="mx-auto w-50">
    <div class="form-group my-2">
      <label>Name</label>
      <app-fa-input icon="apple">
        <input #input type="text" placeholder="Name" />
      </app-fa-input>
    </div>
    <div class="form-group my-2">
      <label>Email</label>
      <app-fa-input icon="apple">
        <input type="email" placeholder="Email" />
      </app-fa-input>
    </div>
    <div class="form-group my-2">
      <label>Number</label>
      <app-fa-input icon="apple">
        <input type="number" placeholder="Number" />
      </app-fa-input>
    </div>
  </div>
</div>
