:host-context(.fa-input-secondary-theme) {
  :host {
    background-color: white;
    border-color: #222;
  }

  :host(.input-focus) {
    border-color: #f5aa3a;
    box-shadow: 0 0 5px #f5aa3a;
  }
}
